#!/usr/bin/make -f
# export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

override_dh_auto_configure:
	MANPATH=/usr/share/man ./configure

# do not compress example TCL scripts
override_dh_compress:
	dh_compress --exclude=.htcl

%:
	dh $@
